{% load staticfiles %}

{% load endless %}

{% paginate per_page,per_page groups %}

{% for group in groups %}
<tr>
    <td>{{ start_id|add:forloop.counter }}</td>
    <td><a title="Редагувати" href="{% url "groups_edit" group.id %}">{{ group.title }}</a></td>
    <td><a title="Редагувати" href="{% url "groups_edit" group.id %}">{{ group.leader }}</a></td>
    <td>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Дiя
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url "groups_edit" group.id %}">Редагувати</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url "groups_delete" group.id %}">Видалити</a>
                </li>
            </ul>
        </div>
    </td>
</tr>   
{% endfor %}
{% show_more %}
