{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %} Журнал {% endblock meta_title %}

{% block title %} Облік відвідування {% endblock title %}

{% block content %}
	<center>
		<a href="">&larr;</a>
		{% now "F Y" %}
		<a href="">&rarr;</a>
	</center>

	<!-- Start students listing -->
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Студент</th>
				{% for day in days %}
				<th>{{ day }}</th>	
				{% endfor %}
			</tr>
		</thead>
		<tbody>	
			{% for student in students %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{% url "students_edit" student.id %}"> {{ student.first_name }} {{ student.first_name }}</a></td>
					{% for day in days %}
						<td><input type="checkbox"></input></td>	
					{% endfor %}
				</tr>	
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}