{% extends "students/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %} Видалити студента {% endblock meta_title %}

{% block title %} 
Ви впевнені, що бажаєте видалити наступних студентів: 
{% endblock title %}

{% block content %}

<ul>
{% for student in students %}
        <li>{{ student }}</li>
{% endfor %}
</ul>

<form enctype="multipart/form-data" class="form-horizontal" action="{% url "students_delete" studlist %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Так" name="confirm_button"/>
        <button class="btn btn-default" type="submit" name="cancel_button">Ні</button>
    </div>
</form>
	
{% endblock content %}
